body{
	background:url(images/bg.jpg) repeat;
	padding:0;
	margin:0;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#444;
	}
	
a{
	text-decoration:none;
	}
	
.adjust{
	padding:0;
	margin:0;
	line-height:20px;
	float:left;
	}
	
.adjust1 { PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px }
	
	
.clear{
	clear:both;
	}
	
#main_container{
	background:url(images/white_bg.jpg) repeat-y;
	margin:0 auto;
	padding:0 12px;
	width:946px;
	height:auto;
	}
	
#header_container{
	background:;
	margin:0 auto;
	width:946px;
	height:180px;
	}
	
.top_bg{
	background:url(images/top_bg.jpg) repeat-x;
	width:946px;
	height:10px;
	padding:0;
	margin:0;
	}	

#header{
	background:no-repeat;
	width:946px;
	height:200px;
	padding:0;
	margin:0 auto;
	}
	
#left_header{
	background:url(images/left_head.jpg) no-repeat;
	width:275px;
	height:200px;
	padding:0;
	margin:0;
	float:left;
	}
	
#right_header{
	background: url(images/header.jpg) no-repeat;
	width:946px;
	height:165px;
	padding:0;
	margin:0;
	float:left;
	}
	
#navigation_container{
	width:auto;
	height:auto;
	padding:0 0 0 10px;
	margin:130px 0 0 0;
	float:left;
	text-align:left;
	}
.nav_btn{
	width:auto;
	height:auto;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	float:left;
	}	
	
.nav_btn a{
	width:auto;
	height:auto;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#777;
	padding:0 2px;
	float:left;
	}	
	
.nav_btn a:hover{
	width:auto;
	height:auto;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#729b10;
	padding:0 2px;
	float:left;
	}	
#navigation_container_right{
	width:auto;
	height:auto;
	padding:0 0 0 10px;
	margin:132px 0 0 0;
	float:right;
	text-align:right;
	}	
	
.nav_btn_right{
	width:auto;
	height:auto;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	float:right;
	}	
	
.nav_btn_right a{
	width:auto;
	height:auto;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#777;
	padding:0 15px;
	float:right;
	}	
	
.nav_btn_right a:hover{
	width:auto;
	height:auto;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#729b10;
	padding:0 15px;
	float:right;
	}	
	
	

	
#top_link_container{
	width:auto;
	height:auto;
	padding:0 10px 0 0px;
	margin:8px 0 0 0px;
	float:right;
	text-align:right;
	}
	
.top_link_btn{
	width:auto;
	height:auto;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#999;
	float:left;
	}	
	
.top_link_btn a{
	width:auto;
	height:auto;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#999;
	float:left;
	}	
	
.top_link_btn a:hover{
	width:auto;
	height:auto;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#cf5800;
	float:left;
	}
	
.top_link_divider{
	background:url(images/top_link_divider.jpg) center no-repeat;
	width:3px;
	height:15px;
	padding:0 7px;
	margin:0;
	float:left;
	}
	
#body_container{
	width:940px;
	height:auto;
	padding:0;
	margin:0 auto;
	}
	
.g2c_header{
	width:auto;
	height:28px;
	background:url(images/g2c_bg.jpg) repeat-x;
	padding:0 0 0 5px;
	margin:0;
	}
	
.header_bullet{
	background:url(images/bullet_header.gif) no-repeat left top;
	width:18px;
	height:18px;
	margin:0 0 0 2px;
	float:left;
	}
	
.green_header{
	width:auto;
	height:auto;
	font:normal 16px/24px Arial, Helvetica, sans-serif;
	color:#99bc30;
	float:left;
	}
	
.dark_green{
	color:#668f0a; !important
	}

#body_bg_container{
	background:url(images/body_bg.jpg) repeat-y;
	width:940px;
	height:auto;
	margin:8px 0;
	padding:0;
	}
	
#left_container { PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 8px; WIDTH: 900px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: auto; COLOR: #525252; PADDING-TOP: 0px }
	
#middle_container{
	width:414px;
	height:auto;
	margin:0 auto;
	padding:0 24px;
	float:left;
	}
	
.flash_container{
	width:404px;
	height:260px;
	margin:0 auto;
	padding:0 10px;
	float:left;
	}
	

#right_container{
	width:216px;
	height:auto;
	margin:0 8px 0 0px;
	padding:20px 0 0 0;
	float:right;
	}
	
.box_header{
	width:100%;
	height:auto;
	font:normal 14px/18px Arial, Helvetica, sans-serif;
	color:#000;	
	padding:0;
	margin:0 0 10px 0;
	border-bottom:1px dashed #ccc;
	float:left;
	}
	
.search_container{
	width:216px;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	}	
	
.search_bg {
	font:normal 11px Arial, Helvetica, sans-serif;
	height:auto;
	color: #333;
	background:url(images/search_bg.jpg) repeat-x right top;
	width:140px;
	border: 1px solid #dbdbdb;
	padding:2px;
	float:right;
}

.submit{
	width:68px;
	height:20px;
	padding:10px 0 0 0;
	margin:0;
	float:right;
	}
	
.box_divider{
	width:216px;
	height:3px;
	background:url(images/box_divider.jpg) no-repeat center;
	padding:12px 0;
	margin:0;
	float:left;
	}
	
.news_text{
	width:120px;
	height:auto;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#444;
	padding:36px 0 0 10px;
	float:left;
	}	
	
.news_text_middle{
	width:320px;
	height:auto;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#444;
	padding:36px 0 0 10px;
	float:left;
	}
	
.news_img{
	width:84px;
	height:62px;
	float:left;
	font:bold 12px/38px Arial, Helvetica, sans-serif;
	color:#e26700;
	}
	
.more{
	font:normal 11px/30px Arial, Helvetica, sans-serif;
	color:#769d00;
	float:right;
	}	
	
.more a{
	font:normal 11px/30px Arial, Helvetica, sans-serif;
	color:#769d00;
	float:right;
	text-decoration:underline;
	}	
	
.more a:hover{
	font:normal 11px/30px Arial, Helvetica, sans-serif;
	color:#769d00;
	float:right;
	text-decoration:none !important;
	}
	
.more1{
	font:normal 11px/22px Arial, Helvetica, sans-serif;
	color:#769d00;
	float:left;
	}	
	
.more1 a{
	font:normal 11px/22px Arial, Helvetica, sans-serif;
	color:#769d00;
	float:left;
	text-decoration:underline;
	}	
	
.more1 a:hover{
	font:normal 11px/22px Arial, Helvetica, sans-serif;
	color:#769d00;
	float:left;
	text-decoration:none !important;
	}
	
.login_icon{
	width:50px;
	height:50px;
	float:left;
	padding:5px 20px;
	background:no-repeat;
	}
	
.click_here{
	width:86x;
	height:20px;
	padding:20px 0 0 10px;
	margin:0;
	float:left;
	}
	
.documents_btn{
	width:auto;
	height:auto;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
	float:left;
	padding:5px 0;

	}	
	
.documents_btn a{
	background:url(images/bullet.jpg) no-repeat;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
	color:#333;
	padding:0 15px;
	}	
	
.documents_btn a:hover{
	background:url(images/bullet.jpg) no-repeat;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
	color:#729b10;
	padding:0 15px;
	}
	
#footer_container{
	width:900px;
	height:20px;
	margin:0;
	padding:15px 20px;
	background:url(images/footer.jpg) repeat-x;
	}
	
.footer_text{
	width:auto;
	height:auto;
	padding:0 242px;
	color:#999;
	float:left;
	}
	
	
	
	
#middle_container1{
	width:880px;
	height:auto;
	margin:0 auto;
	padding:0 24px;
	background:#fff;
	text-align:center;
	}
	
.ministry_txt{
	color:#d45d03;
	font:normal 17px/30px Arial, Helvetica, sans-serif;
	border-bottom:1px dotted #eee;
	padding:0 0 3px 0;
	}
	
.livestock_txt{
	color:#f87f24;
	font:normal 14px/28px Arial, Helvetica, sans-serif;
	}
	
.text_box_bg{
	background:#eb853a;
	color:#fff;
	font-weight:bold;
	text-align:left;
	font-size:13px;

	}
	
.border{
	border:1px solid #ededed;
	}
	
.border_left{
	border-left:1px solid #ededed;
	}
	
.border_top{
	border-top:1px solid #ededed;
	}
	
.border_bottom{
	border-bottom:1px solid #ededed;
	}
	
.border_right{
	border-right:1px solid #ededed;
	}
	
.body_text{
	font:bold 11px/22px Arial, Helvetica, sans-serif;
	color:#666;
	}
	
.emargency_icon{
	width:30px;
	float:left;
	line-height:30px;
	height:30px;
	}
	
.emargency_txt{

	font:normal 11px/32px Arial, Helvetica, sans-serif;
	color:#212121;
	float:left;
	
	}
	
.emargency_txt a{
	font:normal 11px/32px Arial, Helvetica, sans-serif;
	color:#212121;
	float:left;
	}
	
.emargency_txt a:hover{
	font:normal 11px/32px Arial, Helvetica, sans-serif;
	color:#dc0d13;
	float:left;
	}
	
		
.box_bg { TEXT-ALIGN: justify; PADDING-BOTTOM: 10px; LINE-HEIGHT: 19px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; BACKGROUND: url(images/box_bg.jpg) repeat-y left 100%; COLOR: #525252; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 10px }

.smll_heading{
		background:url(images/smll_heading.jpg) no-repeat;
		line-height:34px;
		padding:0 0 0 20px;
		font-size:14px;
		}

.small_bg{
		background:url(images/small_bg.jpg) repeat-y;
		padding:0 0 0 10px;
		}
		
		.big_heading {PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(images/big_heading.jpg) no-repeat left 100%; FONT-SIZE: 14px; PADDING-TOP: 0px }
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


	